* {
	box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif; */

html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    /* font-family: 'Playfair Display', serif; */
    font-weight: 400;
}

.card {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, .3);
    width: 350px;
    height: 410px;
}

.card__img {
    display: block;
    margin-bottom: 20px;
}

.card__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.card__price {
    color: #7e9bbd;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-read-more {
    display: inline-block;

    padding-left: 20px;
    padding-right: 20px;
    height: 46px;

    border: 3px solid rgba(126, 155, 189, .3);
    border-radius: 6px;

    font-weight: 600;
    font-size: 16px;
    line-height: 42px;
    text-decoration: none;
    color: #7e9bbd;
}